body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    box-sizing:border-box;
}

.weather-box {
    flex: 1;
    background: rgba(255, 255, 255, 0.38);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 150px;
    margin: 10px;
    transform: translateY(20px);
    opacity: 0;
    animation: slideIn 1s forwards ease-in-out;
}

@keyframes slideIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#currentWeather {
    text-align: left;
}

#hourlyForecast {
    text-align: center;
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.435);
    padding: 20px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}



input {
    padding: 10px;
    border: 1px solid #cccccc02;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 150px;
    transition: box-shadow 0.3s ease;
}



button {
    padding: 10px 25px;
    background-color: #115852;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #59db64;
    transform: translateY(-3px);
}

.main-weather {
    text-align: center;
    margin-top: 20px;
}

.forecast-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(202, 194, 194, 0.471);
    gap: 15px;
    width: 1200px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 10px;
}

.forecast-box {
    background: rgba(245, 248, 244, 0.671);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 120px;
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.forecast-box:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

